@import "tailwindcss";

:root {
  --background: #EFE2DB;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

:root{
  --green_dark:#005057;
  --btn-color:#D25238;
   --green_light:#004F55
}
@font-face {
  font-family: "ivy_presto";
  src: url("/assets/fonts/Ivy-Presto-Text-.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.ivy_presto {
  font-family: "ivy_presto", sans-serif;
}

/* Base container */
.container-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Extra small (default) – 100% width */

/* Small (≥576px) */
@media (min-width: 576px) {
  .container-custom {
    max-width: 540px;
  }
}

/* Medium (≥768px) */
@media (min-width: 768px) {
  .container-custom {
    max-width: 720px;
  }
}

/* Large (≥992px) */
@media (min-width: 992px) {
  .container-custom {
    max-width: 960px;
  }
}

/* Extra large (≥1200px) */
@media (min-width: 1200px) {
  .container-custom {
    max-width: 1140px;
  }
}

/* XXL (≥1400px) */
@media (min-width: 1400px) {
  .container-custom {
    max-width: 1280px;
  }
}

.common_padding{padding:80px 0}