@import "tailwindcss";

:root{
  --green_dark:#005057;
  --bg-color:#EFE2DB;
  --btn-color:hsl(10, 63%, 52%);
   --green_light:#004F55
}
@font-face {
  font-family: "ivy_presto";
  src: url("/assets/fonts/Ivy-Presto-Text-Semi-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.ivy_presto {
  font-family: "ivy_presto", sans-serif;
}
body{background-color: var(--bg-color);}
/* Base container */
.container-custom {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.common_padding{padding:60px 0}

/* Extra small (default) – 100% width */

/* Small (≥576px) */
@media (min-width: 576px) {
  .container-custom {
    max-width: 540px;
  }
}

/* Medium (≥768px) */
@media (min-width: 768px) {
  .common_padding{padding:80px 0}

  .container-custom {
    max-width: 720px;
  }
}

/* Large (≥992px) */
@media (min-width: 992px) {
  .container-custom {
    max-width: 960px;
  }
}

/* Extra large (≥1200px) */
@media (min-width: 1200px) {
  .container-custom {
    max-width: 1140px;
  }
}

/* XXL (≥1400px) */
@media (min-width: 1400px) {
  .container-custom {
    max-width: 1280px;
  }
}

@keyframes fadeIn {
          from {
            opacity: 0;
            transform: translateY(20px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
        .animate-fadeIn {
          animation: fadeIn 1s ease-out forwards;
        }
        .animation-delay-300 {
          animation-delay: 0.3s;
          opacity: 0;
          animation-fill-mode: both;
        }
        .animation-delay-600 {
          animation-delay: 0.6s;
          opacity: 0;
          animation-fill-mode: both;
        }

body  .banner .swiper-pagination{bottom: 38px;text-align: end;padding-right: 50px;}        
body  .banner .swiper-pagination-bullet{background-color: var(--btn-color);opacity: 1;height: 12px;width: 12px;}
body  .banner .swiper-pagination-bullet-active{background-color: #fff;}